.wrapper{
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: rgb(198, 198, 63);
}
div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}