.gap-layout{
    width: 700px;
    height: 300px;
    background-color: aquamarine;
    display: flex;
    gap: 30px;
}
div{
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid white;
}