   .text-section {
            display: flex;
            gap: 20px;              /* space between paragraphs */
            justify-content: center;
            align-items: center;
        }

        .text-section p {
            width: 200px;
            text-align: justify;
            border: 1px solid black;
            padding: 10px;
        }

        
        .text-section p::first-letter {
            font-size: 30px;
            font-weight: bold;
            color: rgb(23, 233, 236);
        }