.products{
    width: 900px;
    height: 150px;
     background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}
.product{
     width: 100px;
    background-color: black;
    border: 1px solid white;
}