/* .serif {
    font-family: serif;
}

.sans {
    font-family: sans-serif;
}

.mono {
    font-family: monospace;
} */

/* .container {
    display: flex;
    gap: 20px;
        padding: 20px;
    background: lightblue;
}

 /* {

} */

/* .one {
    font-style: normal;
}

.two {
    font-style: italic;
}

.three {
    font-style: normal;
} */ 
/* .w1 {
     font-weight: 100;
     }
.w3 {
     font-weight: 300;
     }
.w5 {
     font-weight: 500;
     }
.w7 {
     font-weight: 700;
     }
.w9 {
     font-weight: 900;
     } */
/* .one {
    font-size: 30px;
}

.two {
    font-size: 2em;
}

.three {
    font-size: 2rem;
} */

/* .bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.num {
    font-weight: 800;
} */

/* .box {
    font-size: 20px;
}

.em {
    font-size: 2em;
}

.rem {
    font-size: 2rem;
} */