main{
    background-color: rgb(189, 172, 172);
    height: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}  
div{
    width: 170px;
    height: 300px;
    border: 1px solid white;
}
img{
    height: 80%;
    width: 100%;
    border: 1px solid black;
}
h3{
    background-color: aliceblue;
}